<h2><%= @user.name %>'s Dashboard</h2>

<%= button_to("Discover Movies", "/users/#{@user.id}/discover", method: :get, local: true) %><br>

<h2>Viewing Parties:</h2>
<% @user.parties.each do |party| %>
  <%= image_tag "https://image.tmdb.org/t/p/w92/#{party.image}" %><br>
  <%= party.movie_title %><br>
  <%= party.start_date.strftime("%B %e, %Y") %><br>
  <%= party.start_time.strftime("%I:%M %p") %><br>
  Host<br>
  <br>
<% end %>
<% @user.invitations.each do |invite| %>
  <%= image_tag "https://image.tmdb.org/t/p/w92/#{invite.image}" %><br>
  <%= invite.movie_title %><br>
  <%= invite.start_date.strftime("%B %e, %Y") %><br>
  <%= invite.start_time.strftime("%I:%M %p") %><br>
  Invited<br>
  <br>
<% end %><br>